<header>
  <nav>
    <h1>{{ pageTitle }}</h1>
    <ul>
      <li><a href="/">Home Page 1</a></li>
      <li><a href="/about">About Page 2</a></li>
      <li><a href="/projects">Projects Page 3</a></li>
    </ul>
  </nav>
</header>